@charset "UTF-8";
li::before {
  content: '–';
  padding: 0.25rem;
}

li {
  left: 0;
  margin-right: auto;
}

ul {
  padding: 0 2rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: left;
}

p {
  padding: 0 1.5rem 0 1.5rem;
  text-align: left;
}

p.example {
  margin: 0 2rem 0 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
