.Stats {
  height: 100vh;
  overflow: hidden;
}

.Stats .container {
  height: 100%;
}

.Stats .box {
  height: inherit;
}

.history {
  overflow-y: auto;
  overflow-x: hidden;
  height: 50;
}

.history ul {
  margin: 0;
}

.history-item {
  position: relative;
}
