.Stats {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.Stats .container {
  height: 100%;
}

.Stats .box {
  height: inherit;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0;
  bottom: 0;
}

.scrollable ul {
  margin: 0;
}

.scrollable-item {
  position: relative;
}
