$colorAccentBlue: rgba(#0039d4, 1.0);
$colorBasicGreen: #1cff1c;
$colorBasicTeal: #00d1b2;
$colorBasicBlue: #00c3ff;
$colorTaskLevel_1: #5eff00;
$colorTaskLevel_2: #f0c859;
$colorTaskLevel_3: #ff00ff;
$colorTaskLevel_4: #ffff00;
$colorTaskLevel_5: #ffa600;
//  ,