.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@import 'generate_from_bulma';

#bar.level {
  width: 100vw;
  z-index: 20;
  position: fixed;
  margin-top: auto;
  bottom: 0%;
}
// #NarSideBar-open {
//   position: relative;
//   right: 0%;
// }
.counter {
  display: block;
  font-size: 38vw;
}
// ul {
//   align-content: left;
// }