.Stats{
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex: 0 0 auto;
  .container {
    // min-height: fit-content;
    height: 100%;
  };
  .box {
    height: inherit;
  }
}
.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  top: 0;
  bottom: 0;
  
  ul {
    margin: 0;
  }
}
.scrollable-item {
  position: relative;
}